@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

body{

color: #4C4B49;
font-size: 16px;
line-height: 25px;
}

header{
	
	padding: 15px 0px;
	position: relative;
	top:90;
	z-index:2;
	transition: all .5s;
}

.logo {
}

div:not(.main_menu), section,header,footer{
	overflow: hidden;
}

.main_menu {
	
}
.main_menu ul {
	
	float: right;
	list-style: none;
	padding: 0px;
	margin: 0px;
} 
.main_menu ul li{
	display: inline-block;

}

.main_menu ul li a{
	padding: 15px 20px;
	text-decoration: none;
	color:#FBFCFC;
	display: block;
	font-size: 18px;
	
}
.main_menu ul li a:hover{
	color: #0483BF;
	opacity: 100%;
	transition: .3s;
}

.slider_area{
	position: relative;
	top: -90;
}

.slider_area img{
	width: 100%;
}

.carousel-caption{
top: 35%;
}
.carousel-caption h2{
font-family: 'Playfair Display', serif;
font-size: 65px;
font-weight: 800;
color: #fff;
text-transform: uppercase;
border-top: 3px solid rgba(255,255,255,.5);
border-bottom: 3px solid rgba(255,255,255,.5);
display: inline-block;
padding: 30px 0px;
}

.carousel-caption p{
font-family: 'Roboto', sans-serif;
font-size: 25px;

}

.about_me {
	padding-top: 70px;
}


.photo img{
	width: 100%;
	z-index: -999;
}


.about_me_container {
}
.about_me_container h4{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #4C4B49;
	margin-top: 60px;
	margin-bottom: 50px;
}

.about_me_container p{
    font-family: 'Roboto', sans-serif;
	margin-bottom: 45px;
}


.paul-btn{
font-family: 'Roboto', sans-serif;
background: #FF0036;
font-size: 16px;
padding: 17px 70px;
text-align: center;
color: #fff;
font-weight: bold;
text-decoration: none;
display: inline-block;
transition: .4s;
border: none;
margin-top: 25px;
}

.paul-btn:hover{
	background: #b90e27;
	text-decoration: none;
	color: #fff;
}

.working_process {
	background: #F6F6F5;
	padding: 124px 0px;
}

.working_title {
	text-align: center;
}
h2{
	font-size: 40px;
	color: #000000;
	margin-bottom: 35px;
	text-align: center;
}
.working_title h2 {
	
}
.working_title h5{
	font-size: 16px;
	color: #494949;
	margin-bottom: 60px;
	
}


.single_work {
	text-align: center;
	padding: 80px 0px;
	color: #fff;
	transition: all 0.3s;
}
.single_work i{
	font-size: 40px;
	margin-bottom: 40px;
	cursor: pointer;
	transition: all 0.3s;
}
.single_work h4{
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
	transition: all 0.3s;
}
.single_work:hover h4{
	transform: scale(2);
}
.single_work:hover i{
	transform: scale(2);
}
.w-1{
	background: #00CAFD;
}
.w-2{
	background: #8857E7;
}
.w-3{
	background: #00294E;
}
.w-4{
	background: #FF0036;
}

.working_experience {
	padding: 125px 0px;
    opacity: 70%;
    background: url(img/exp_bg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.experience {
	padding: 60px 40px 0px 47px;
  background:rgba(90,96,100,.4);
    background: 100% auto;
    color: #fff;

}
.experience h2{
     color: #fff;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.single_experience {
padding-bottom: 35px;
}
.single_experience h4{
	 color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 25px;
}
.single_experience span{
	color: rgba(255,255,255,.7);
    font-size: 16px;
    text-align: left;
    margin-bottom: 25px;
  
}
.single_experience p{
	 color: rgba(255,255,255,.7);
	 padding-top: 25px;
    font-size: 16px;
    text-align: left;
    
} 

.border{
    border-bottom: 3px solid rgba(255,255,255,.2);
    height: 3px;
    width: 100%;
	margin-bottom: 35px;
}

.latest_workarea {
	padding:125px 0px;
}

.latest_work_title {
	text-align: center;
}
.latest_work_title h5{
	text-align: center;
	font-size: 16px;
	color: #4C4B49;
	margin-bottom: 40px;
}
.single_letest_work {
	padding: 15px 0px;
}
.single_letest_work img{
	width: 100%l
}


.testimonial_area {
	padding: 140px 0px 145px 0px;
	 background: url(img/testi_bg.jpg) no-repeat fixed;
    background-size: cover;
}
.testimonial p{
	margin: 55px 0px;
	color: #fff;
	line-height: 28px;
}
.testimonial h4{
	margin-top: 30px;
	margin-bottom:15px;
	font-size: 18px;
	font-weight: bold;
	color: #F6F8FD;
}.testimonial span{
	font-size: 14px;
	color: #F6F8FD;
}
.contact_us {
    padding: 125px 0px;
    background: url(img/con_bg.jpg) no-repeat fixed;
    background-size: cover;
}

.message {
	padding: 60px 40px;
	background:rgba(90,96,100,.5);
}
.message h2, .contact_right h2 {
	text-align: left;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}
.message input[type=text] ,.message input[type=email], .message textarea {
	display: block;
	width: 100%;
	margin-bottom: 30px;
	padding: 15PX;
	color: rgba(255,255,255,.9);
	border: 1PX solid rgba(255,255,255,.8);
	background: none;
}
.message input.paul-btn{
	margin-bottom: 35px !important;
	float: right;
	display: inline-block;
}
.contact_right {

}

.single_contact h2{
	text-align: left;
	font-size: 26px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;

}

.single_contact p {
	text-align: left;
	font-size: 16px;
	color: rgba(255,255,255,.9);
}

.single_contact {
	padding: 60px 40px;
	background:rgba(90,96,100,.5);
	margin-bottom: 24px;
}
footer{
background: #262726;
padding: 70px 0px;
text-align: center;
}
.footer_content p{
	display: block;
	font-size: 15px;
	color:rgba(255,255,255,.6); 
}
.footer_content ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
	margin-bottom: 20px;

}
.footer_content ul li{
	display: inline-block;

}
.footer_content ul li a{
	font-size: 25px;
	color: rgba(255,255,255,.6);
	display: block;
	padding: 0px 10px;
	border-right: 1px solid rgba(255,255,255,.6);

}
.footer_content ul li:last-child a{
border-right: none;
} 
.footer_content ul li a i{}
.footer_content ul li a:hover{
color: #FF0036;
transition: 0.4s;
}




.srollup{
	position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 40px;
    padding: 15px 20px;
    color: #fff;
    border-radius: 50%;
    background: rgba(0,0,0,.3);

}
.srollup:hover{
	  color: #fff;
	text-decoration:none;
    background: rgba(0,0,0,.7);
    transition: all .3s;
}

.goToTop {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}
.stick{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;

}
.fixed {
    position: fixed;
    top: 0;
    background:rgba(0,0,0,.7);
    width: 100%;
    z-index: 999;
  }
  .sticky {
    width: 100%;
    background: #F6D565;
    padding: 25px 0;
    text-transform: uppercase;
  }




.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}